@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

body {
    background-color: #22272e;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
}

h2 {
    border: 1px solid #fff;
    max-width: 12rem;
    margin: 0 auto;
}

p {
    padding: 0;
    margin: 0;
}

.grades-container {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    margin: .5rem;
    width: 20rem;
    height: 9rem;
    background-color: #050607;
    padding: 1rem;
    border-radius: 4px;
}

.card .title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 .5rem 0;
}

.card .grade {
    font-size: 1rem;
}

.status {
    font-size: .9rem;
    width: 7rem;
    text-align: center;
    padding: .5rem;
    border-radius: 4px;
    margin: 1rem auto 0 auto;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}