@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
    --main-dark-grey: hsl(0, 0%, 63%);
    --main-darker-grey: hsl(0, 0%, 27%);
    --main-black: hsl(0, 0%, 0%);
    --main-white: hsl(0, 0%, 100%);   
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    max-width: 375px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 50% 50%;
}

@media (min-width: 375px) {    
    body {
        font-size: smaller;
    }
}